@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --navy-blue: #10162F;
}
body{
    background-color: #FFF0E5;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 3fr 1fr;
    row-gap: 3px;
    height: 100vh;
    color: var(--navy-blue);
    font-family: 'Mochiy Pop One', sans-serif;
    border: var(--navy-blue);
}
.game-container{
    grid-column: 2;
    height: 350px;
    border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    background-image: url(/images/background.png);
    background-size:cover;
    background-repeat: no-repeat;
}

img{
    height: 200px;
}
.player-box img{
    transform:rotate(-90deg) rotateX(180deg);
}
.computer-box img{
    transform: rotate(-90deg);
}
.player-box, .computer-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


button{
    padding: 0.2em 1em;
    font-size: 1.2rem;
    background-color: white;
    border: solid 1px;
    transition: 0.3s;
    cursor: pointer;
}
button:hover{
    box-shadow: var(--navy-blue) -3px 3px;
    transform: scale(1.03);
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    grid-column: 2;
    align-self: flex-start;
    justify-self: flex-start;
}